
<article>
  <h1 id="privacy-policy">Privacy Policy (Version 1.3)</h1>
  <p>
    Privacy is a core value in OMC and is essential to community security. OMC
    collects minimal information about members and treats all potentially
    identifying information with confidentiality. Members are encouraged to use
    anonymising software such as using Tor Browser (<a
      href="https://torproject.org"
      >https://torproject.org</a
    >) or pseudonymising software like a virtual private network (VPN), and
    Session (<a href="https://getsession.org">https://getsession.org</a>) or a
    pseudonymous email address for signup. Please view this article (<a
      href="https://blog.mapsupport.club/miami/security-privacy-for-maps"
      >https://blog.mapsupport.club/miami/security-privacy-for-maps</a
    >) for more information about privacy and security in MAP communities.
  </p>

  <section>
    <h2 id="1-technical-information">1. Technical Information</h2>
    <p>
      OMC does not store logs of identifying technical information (e.g.,
      internet protocol (IP) address, browser type, operating system (OS), etc.)
      about members; therefore, OMC staff does not have access to this
      information.
    </p>
    <section>
      <h3 id="11-time-zones">1.1. Time Zones</h3>
      <p>
        Members’ time zones are publicly viewable in OMC. There is currently no
        way to disable this within Rocket.Chat. As soon as OMC staff is made
        aware of a way to disable public time zone viewing in Rocket.Chat, it
        will be disabled, the Privacy Policy will be updated, and an
        announcement will be made in #announcements.
      </p>
      <p>
        Until then, members are encouraged to use software to conceal their real
        time zone. Tor Browser spoofs time zone, making it appear as UTC ±0.
        Time zone can be spoofed in Firefox by going to
        <em>about:config</em> and toggling
        <em>privacy.resistFingerprinting</em> so that it is set to
        <em>true.</em> Extensions to spoof time zone are also available for most
        browsers.
      </p>
    </section>
  </section>
  <section>
    <h2 id="2-contact-information">2. Contact Information</h2>
    <p>
      Email address or Session ID used to sign up for OMC is stored and is
      available to Technical Administrators, Community Administrators, and
      Moderators. This information is used only to send invites to new members,
      reset members’ passwords at their request, and contact members when
      contacting them via OMC is not possible or in emergency situations.
    </p>
  </section>

  <section>
    <h2 id="3-chat-retention">3. Chat Retention</h2>
    <p>
      Member activity in public channels is stored in public channels according
      to the retention policy in each channel. The global retention policy in
      OMC is 3 months; meaning, messages are automatically deleted after 3
      months. This may be longer or shorter depending on the channel. Member
      activity in direct messages is not automatically deleted. All members may
      edit or delete their own messages for any reason.
    </p>
  </section>

  <section>
    <h2 id="4-direct-messages">4. Direct Messages</h2>
    <p>
      Direct Messages (DMs) are set to be end-to-end (E2E) encrypted by default;
      <strong
        >however, there is currently a bug which causes them to NOT be E2E
        encrypted by default.</strong
      >
      E2E encryption can be enabled by selecting the 3 dots in the upper
      righthand corner of the DM room and selecting 'Enable Encryption'.
      Encrypted messages should always a key icon next to them. If you do not
      see the key icon, your messages may not be encrypted, and you should
      enable encryption ASAP. As soon as this we become aware of a way to
      reliably enable E2E encryption by default, it will be enabled, and this
      policy will be updated. If E2E encryption is enabled, then DMs cannot be
      read by OMC staff.
      <strong
        >OMC staff strongly recommends using a secure, E2E encrypted platform
        outside of OMC, such as Session (<a href="https://getsession.org"
          >https://getsession.org</a
        >), for any sensitive conversations.</strong
      >
      Technical Administrators, Community Administrators, and Moderators can
      view the total number of DMs in members’ DM channels with other members
      but cannot view the content of these messages because they are encrypted.
    </p>
    <p>
      It is a known issue that E2E encrypted DMs may be visible to attackers if
      a member's account is compromised and their encryption password is reset.
      This can be prevented by enabling 2-factor authentication. Encryption
      password cannot be reset without a 2-factor authentication code.
    </p>
  </section>

  <section>
    <h2 id="5-data-request-and-removal">5. Data Request and Removal</h2>
    <p>
      Currently, due to limitations with Rocket.Chat, it’s not possible to
      export a member’s complete data in bulk. As soon as this feature becomes
      available, the Privacy Policy will be updated, and an announcement will be
      made in #announcements.
    </p>

    <section>
      <h3 id="51-logs">5.1. Logs</h3>
      <p>
        OMC Staff Policy outlines two types of logs kept that include
        information about members: Posts in #private-onboarding-log and
        #private-moderation-log. Staff will provide a copy of member's posts in
        #private-onboarding-log and copies of incident reports in
        #private-moderation-log identifying them (with identifying information
        about other members redacted) upon request. Any member may also request
        for data identifying them to be deleted from logs along with their
        account.
      </p>
    </section>

    <section>
      <h3 id="52-account-deactivation-or-deletion">
        5.2. Account Deactivation or Deletion
      </h3>
      <p>
        If a member would like to request for their account to be deactivated or
        deleted, they should contact a staff member within OMC or through a
        verified contact method. Deactivation means that all data is retained on
        the server while the account is inactive and may be reactivated upon a
        member’s request. Deletion means that all of the data technically
        associated with a member’s account is permanently removed from the
        server. Members are also able to delete their own accounts by going to
        their profile and selecting 'Delete my account.'
      </p>
    </section>

    <section>
      <h3 id="6-custom-scripts">6. Custom Scripts</h3>
      <p>
        OMC uses custom JavaScript to hide quoted messages from ignored users
        (this is not a default feature in Rocket.Chat). OMC's bot, Lil Bot, uses
        JavaScript for most functions. These scripts are publicly available on
        OMC's GitLab (<a href="https://gitlab.com/open-map-community"
          >https://gitlab.com/open-map-community</a
        >)
      </p>
    </section>
  </section>
</article>
