<article>
  <h1 id="terms-of-service">Terms of Service (Version 1.8.1)</h1>
  <p>
    By creating an account and logging in to Open MAP Community (hereinafter
    referred to as 'OMC';
    <a href="https://mapcommunity.org">https://mapcommunity.org</a>), you agree
    to be a member of OMC who is bound by the Community Policy (Terms of
    Service, Privacy Policy, and Staff Policy). The OMC Community Policy is a
    public domain document with no copyright restrictions.
  </p>
  <p>
    Each person may use only one account. Systems must share a single account.
  </p>
  <p>
    OMC is based in Sweden and may not be used for any activity that violates
    Swedish law.
  </p>

  <section>
    <h2 id="1-statement-of-purpose">1. Statement of Purpose</h2>
    <p>
      OMC is a democracy-based community for minor-attracted persons (MAPs) aged
      15 years and older to give and receive peer support. OMC provides a safe,
      secure, and supportive environment for MAPs by ensuring personal privacy,
      staff transparency, and community-wide democracy.
    </p>
    <h3 id="11-definitions">1.1. Definitions</h3>
    <p>
      MAPs are persons who are attracted to minors younger than 15 years old who
      are significantly younger than themselves. The term MAP is an umbrella
      term that includes nepiophiles (primarily attracted to ages 0-4),
      paedophiles (primarily attracted to ages 3-11), and hebephiles (primarily
      attracted to ages 10-14).
    </p>
  </section>

  <section>
    <h2 id="2-community-guidelines">2. Community Guidelines</h2>
    <ol>
      <li>Members must be at least 15 years old.</li>
      <li>
        Members agree that OMC and its staff are not liable for any form of
        inconvenience or injury sustained from participating in OMC.
      </li>
      <li>
        Members agree to be bound by any guidelines subsequently created by the
        community.
      </li>
      <li>
        Members may give and receive peer support in a safe, inclusive
        environment. However, support may not include encouraging unlawful
        sexual activity with minors or encouraging the use of unlawful sexual
        imagery of real minors.
      </li>
      <li>
        Members may view, critique, and suggest revisions to the Community
        Policy.
      </li>
      <li>
        Members with the MAP or Non-MAP role may participate in the Democratic
        Process.
      </li>
      <li>
        Members with the MAP or Non-MAP role may view and contribute to staff
        conversations with exception for those containing private information
        about members or private information about the server.
      </li>
      <li>
        Members may hold and express a variety of viewpoints, including those
        that are unpopular.
      </li>
      <li>
        Members may discuss topics in channels that are appropriate for those
        topics; off-topic discussion may be redirected.
      </li>
      <li>
        Members may not use OMC to engage in activity that violates Swedish law.
      </li>
      <li>
        Members may not disclose commission of unadjudicated crimes related to
        sexual activity with minors, abuse or maltreatment of minors or adults,
        or sexual imagery of real minors.
      </li>
      <li>
        Members may not disclose private information about other members without
        their written permission. Private information includes identifying
        information and information about a member’s personal life.
      </li>
      <li>
        Members may not engage in combative, harassing, abusive,
        hateful/hostile, or trolling behaviour that harms members or the
        community or violates Swedish law. This includes agitation against
        ethnic groups, incitements of terrorism, and unlawful depictions of
        violence.
      </li>
      <li>
        Members may not send, link to, advertise, request, or offer nude or 
        sexually explicit content anywhere in the server (including DMs)—
        including 1) adult pornography, 2) child pornography, 3) nude or nonude 
        commercial modelling produced for sexual gratification, 4) fictional 
        pornography, 5) non-pornographic images from sets of pornographic images, 
        6) written erotica, and 7) topless imagery of persons or characters of any age 
        or gender—except when the content is portrayed in a legal, academic context 
        and is being shared for educational purposes in OMC.
      </li>
      <li>
        Members may not give medical advice to other members. Any advice given
        in OMC is layperson’s advice. Always consult a medical professional for
        medical advice.
      </li>
      <li>
        Members may not directly quote or post screenshots of comments posted in 
        #support-requests-1, #support-requests-2, and #venting outside of OMC without 
        permission.
      </li>
    </ol>
  </section>

  <section>
    <h2 id="3-membership-process">3. Membership Process</h2>
    <p>
      To join OMC, go to
      <a href="https://chat.mapcommunity.org/register/xhYQ5zmWwy4sQFsAa"
        >https://chat.mapcommunity.org/register/xhYQ5zmWwy4sQFsAa</a
      >
      and create an account.
    </p>
    <br />
    <p>
      If needed, people may contact OMC staff by email at
      <a href="mailto:map.community@protonmail.ch"
        >map.community@protonmail.ch</a
      >
      or by Session at
      05e0e14900f3092d8b893d6aa58973f5bbdf3ee59b30e3184d4ba829180bfc2f2b.
    </p>
    <br />
    <p>
      When a new account is created, the new member is added to #announcements,
      #policy, and #the-courtyard. New members should read through #policy. In
      #the-courtyard, members will be required to answer 8 questions:
    </p>
    <p></p>
    <ol>
      <li>Are you at least 15 years old?</li>
      <li>Are you a MAP?</li>
      <li>
        Do you agree to the OMC Community Policy? (<a
          href="https://chat.mapcommunity.org/terms-of-service"
          >https://chat.mapcommunity.org/terms-of-service</a
        >)
      </li>
      <li>
        (optional) Are you a member of another MAP community that OMC staff can
        verify your identity on? If so, what community, and what is your
        username?
      </li>
      <li>
        What is one thing that members <em>may</em> do in OMC according to the
        Community Guidelines?
      </li>
      <li>
        What does Community Guideline 14 say? Violating this Community Guideline
        can result in your account being deactivated.
      </li>
      <li>
        Which Community Guideline prohibits admissions of unadjudicated crimes
        related to sex with minors, abuse or maltreatment, and illegal images of
        real minors?
      </li>
      <li>
        What is one <i>other</i>thing that members may <em>not</em> do in OMC
        according to the Community Guidelines?
      </li>
    </ol>
    <p>
      After answering the required questions, a staff member will move the new
      member to #introductions, #onboarding, and #troubleshooting. New members
      may create one post in #introductions briefly introducing themselves to
      the community. In #onboarding, new members should talk with other members
      and become familiar with the community. After a few days of activity in
      #onboarding, OMC staff will decide in poll whether a new member is to be
      given the MAP role.
    </p>
    <p>
      The MAP role gives members access to the default channels of OMC and gives
      them the ability to respond to but not initiate direct messages (DMs).
      Upon receiving the MAP role, the bot will automatically start a DM rom
      with the member that can be used to send anonymous feedback to staff with
      the !map feedback command. After several weeks of activity in OMC, a
      member may be given the DM role, which allows them to initiate DMs.
    </p>
    <section>
      <h3 id="31-allies">3.1. Allies</h3>
      <p>
        Non-MAPs who wish to join the community may do so by largely the same
        process as MAPs. However, Non-MAPs are not given the MAP role. They are
        given the Non-MAP role. This gives them access to fewer channels.
      </p>
    </section>

    <section>
      <h3 id="32-role-visibility">3.2. Role Visibility</h3>
      <p>
        The only visible roles in-chat in OMC are the MAP role, the Non-MAP
        role, and the Donator role. A list of current staff members is viewable
        in #policy. Due to technical limitations with Rocket.Chat, roles may not
        be visible in mobile apps. Currently, the 'Admin' role may sometimes be
        visible in chat because it is not technically possible to hide it
        reliably. As soon as this feature becomes available, the role will be
        hidden, the Community Policy will be updated, and an announcement will
        be made.
      </p>
    </section>

    <section>
      <h3 id="33-file-uploads">3.3. File Uploads</h3>
      <p>
        Images, videos, audio files, PDFs, and plain text files are uploadable. Image 
        and video uploads are disabled in direct message rooms. 
      </p>
    </section>

    <section>
      <h3 id="34-donations">3.4. Donations</h3>
      <p>
        OMC relies on anonymous donations in order to continue to operate.
        Donations are used only for server and hosting fees, which currently
        totals €31.25 per month. If you find OMC to be beneficial or if you
        would like to help keep the community operational, please consider
        donating. Even just couple of euros helps. Donations are accepted by
        Monero, Etherium, Bitcoin, Bitcoin Cash, Litecoin, ZCash, Dash. Members
        who donate have the option to claim a Donator role. This role does not
        come with any additional permissions; it simply lets others know that
        you contributed to keeping the community up for everyone. If a member
        donates an entire month's hosting fees or more,
        they have the option to claim a Donator role that they choose the name
        of (within the bounds of the community guidelines). Members may have
        only one standard Donator role and one custom Donator role. The Donator
        roles expire after one year.
      </p>
      <p>
        OMC's Monero address:
        <code
          >862rWgo6e8UH8haKevP1Tx11d5grzxsmsYJw3XF5SBzZhiGWekXJnyACJDCVCr7BfZcye9cpvbmzgHqE59BkLf1u3JgkKM7</code
        >
      </p>
      <p>
        OMC's Etherium address:
        <code>0x18BA269577aF99449c323E8Efd350ec40E807502</code>
      </p>
      <p>
        OMC's Bitcoin address:
        <code>bc1qphurtewry2s5jfcskmukqvjthvejxwxu7sm0aj</code>
      </p>
      <p>
        OMC's Bitcoin Cash address:
        <code>qr4wg5d3cy2jsdu5zujpyvq0rvl7l6rxwunka0eer0</code>
      </p>
      <p>
        OMC's Litecoin address:
        <code>Li6A42pFrYAVbbgcEtV3Juz5kgeYPY2hXi</code>
      </p>
      <p>
        OMC's ZCash address:
        <code>t1XUbrtdz2kZg8Q3Km95nFarRMKw3DsPTbG</code>
      </p>
      <p>
        OMC's Dash address:
        <code>XspNe3Df7ebLQuDoBPygqupMre1EnNVLnU</code>
      </p>
    </section>

    <section>
      <h3 id="35-troubleshooting">3.5. Troubleshooting</h3>
      <section>
        <h4 id="351-passwords">3.5.1. Passwords</h4>
        <p>
          If a member would like to change their password, they may do so in
          their Profile settings. If a member should need to reset the password
          for their account, they will need to contact an administrator through
          their original contact method (email or Session) or another verified
          contact method. Due to server limitations, members are not able to
          reset their own passwords. If a member loses access to their verified
          contact method, then they will not be able to reset their password.
        </p>
      </section>

      <section>
        <h4 id="352-changing-contact-information">
          3.5.2. Changing Contact Information
        </h4>
        <p>
          Members may change their contact information by opening 'My Account'
          in OMC and entering a new email address or Session ID. Due to
          limitations with Rocket.Chat, Session ID must be provided in an
          email-like format. Please type “your Session
          <a href="mailto:ID@mapcommunity.org">ID@mapcommunity.org</a>.”
        </p>
      </section>

      <section>
        <h4 id="353-direct-messages">3.5.3. Direct Messages</h4>
        <p>
          Be mindful that end-to-end (E2E) encrypted DMs in Rocket.Chat are in
          beta and may have some bugs. Some known bugs and fixes are:
        </p>
        <ul>
          <li>
            <strong
              ><em>Important Bug:</em> DM room isn't E2E encrypted by default
              when created. <strong>Fix:</strong> Enable E2E encryption using
              the kebab menu (three dots) in the upper righthand corner of the
              DM room. Encrypted messages should have a key symbol next to them
              to show they are encrypted. If you do not see the key symbol, your
              messages may not be encrypted, and you should enable encryption
              ASAP. If E2E encryption is enabled, then DMs cannot be read by OMC
              staff.</strong
            >
          </li>
          <li>
            <strong>Bug:</strong> Encrypted messages aren't decrypting.
            <strong>Fix 1:</strong> Enter your decryption code.
            <strong>Fix 2:</strong> Reload the page.
            <strong>Fix 3:</strong> Reset your E2E encryption password in your
            Security settings.
          </li>
          <li>
            <strong>Bug:</strong> Slash commands and bot commands do not work in
            E2E encrypted DMs. <strong>Fix:</strong> Disable encryption to send
            the command and then re-enable encryption.
          </li>
          <li>
            <strong>Bug:</strong> Encrypted DMs may be visible to attackers if a
            member's account is compromised and their encryption password is
            reset. <strong>Fix:</strong> Enable 2-factor authentication.
            Encryption password cannot be reset without a 2-factor
            authentication code.
          </li>
          <li>
            <strong>Bug:</strong> Your encrypted DMs with a person may be
            visible if <em>their</em> account is compromised and their
            encryption password is reset. <strong>Fix:</strong> Set your online
            status to 'invisible.'
          </li>
        </ul>
        <section>
          <h5 id="3531-reseting-encryption-code--2-factor-authentication">
            3.5.3.1. Reseting Encryption code &amp; 2-Factor Authentication
          </h5>
          <p>
            If a member loses access to their encryption password, then they can
            reset it in their Security settings. Resetting the encryption code
            may make encrypted messages unreadable.
          </p>
          <p>
            If a member loses access to their 2-factor authenticator (if
            enabled) and all recovery codes, then they will not be able to
            access their account or reset their encryption password. If a member
            loses access to their account in this way, they will need to message
            OMC staff through a verified email or Session to request a new
            account.
          </p>
        </section>
      </section>
      <section>
        <h4 id="354-account-deactivation-or-deletion">
          3.5.4. Account Deactivation or Deletion
        </h4>
        <p>
          If a member would like to request for their account to be deactivated
          or deleted, they should contact a staff member from within OMC or
          through a verified contact method. Deactivation means that all data is
          retained on the server while the account is inactive and may be
          reactivated upon a member’s request. Deletion means that all of the
          data associated with a member’s account is permanently removed from
          the server. Members are also able to delete their own accounts by
          going to their profile and selecting 'Delete my account.' Any member
          may also request for data identifying them to be deleted from logs
          along with their account.
        </p>
      </section>
      <section>
        <h4 id="355-harassment">3.5.5. Harassment</h4>
        <p>
          OMC does not tolerate harassment. If you feel that you are being
          harassed by another member of OMC, please block the member (if the
          harassment is occurring in DMs) and/or ignore the member in each
          public channel (if the harassment is occurring in public channels),
          and/or contact a staff member for assistance. Staff will intervene to
          ensure that members are protected to the fullest extent of the
          Community Policy.
        </p>
      </section>
    </section>
  </section>

  <section>
    <h2 id="4-democratic-process">4. Democratic Process</h2>
    <ul>
      <li>A proposal in Proposal Format is posted in #proposals.</li>
      <li>
        The proposal is discussed in #proposals-discussions for at least 24
        hours.
      </li>
      <li>
        A poll in Poll Format is posted in #proposals-polls by the original
        proposer.
      </li>
      <li>The poll runs for at least 24 hours.</li>
      <li>
        If 2/3 of those who vote agree, then the proposal is implemented by a
        staff member.
      </li>
      <li>
        If 2/3 of the Administrator Team agrees in poll that the proposal is in
        violation of Swedish law, Community Policy, or technical capabilities,
        then the Administrator Team explains that it cannot be implemented and
        why. If there is an unforeseen urgent concern, then the Administrator
        Team postpones implementation and repeats the Democratic Process.
      </li>
      <li>
        For changes to the Community Policy except Terms of Service section 3.5
        and Staff Policy section 7, an identical, non-anonymous poll runs in
        #staff-polls and requires 2/3 of staff to vote in favour. For changes to
        Terms of Service sections 2 or 4, or to the Privacy Policy, the poll in
        #staff-polls runs for 48 hours.
      </li>
    </ul>

    <section>
      <h3 id="41-proposal-format">4.1. Proposal Format</h3>
      <ul>
        <li><strong>Date:</strong> &lt;YYYY-MM-DD&gt;</li>
        <li>
          <strong>Subject:</strong> &lt;the subject of the proposal in a few
          words&gt;
        </li>
        <li>
          <strong>Proposal:</strong> &lt;a description of what would change&gt;
        </li>
        <li>
          <strong>Motivation:</strong> &lt;a description of why this needs to be
          changed, how it benefits the community, etc.&gt;
        </li>
        <li>
          <strong>Specification:</strong> &lt;an explanation of exactly how it
          should be changed&gt;
        </li>
      </ul>
    </section>

    <section>
      <h3 id="42-poll-format">4.2. Poll Format</h3>
      <ul>
        <li>
          <strong>Question:</strong> &lt;the subject of the proposal with a link
          to the original proposal or a copy of the entire proposal in Proposal
          Format&gt;
        </li>
        <li><strong>Option 1:</strong> &lt;yay&gt;</li>
        <li><strong>Option 2:</strong> &lt;nay&gt;</li>
        <li><strong>Choice type:</strong> &lt;single choice&gt;</li>
        <li><strong>Vote type:</strong> &lt;confidential vote&gt;</li>
      </ul>
    </section>

    <section>
      <h3 id="43-addition-of-an-associate-moderator">
        4.3. Addition of an Associate Moderator
      </h3>
      <ul>
        <li>
          Staff agrees by 2/3 majority in #staff-polls that one additional
          Associate Moderator is needed.
        </li>
        <li>Staff posts a proposal in Proposal Format in #proposals.</li>
        <li>
          Staff accepts nominations from the community (including
          self-nominations) in #proposals-discussions. Nominees for the
          Associate Moderator role must be a member with the DM role.
        </li>
        <li>Nominations are accepted for at least 24 hours.</li>
        <li>
          Nominees agree to be nominated if they would like to run for the
          Associate Moderator role.
        </li>
        <li>
          Discussion is held for 24 hours for members to express opinions and
          concerns. During this time, nominees may explain why they believe they
          are a good candidate for the role.
        </li>
        <li>
          An anonymous poll including all of the nominees is posted by staff and
          runs for 24 hours. Members with the MAP role may cast a vote for one
          nominee.
        </li>
        <li>
          Staff adds the Associate Moderator role to the nominee with the most
          votes.
        </li>
      </ul>
    </section>

    <section>
      <h3 id="44-addition-of-a-community-administrator">
        4.4. Addition of a Community Administrator
      </h3>
      <ul>
        <li>
          One Community Administrator is elected every 6 months to serve a
          6-month term. The election process begins every 1 June and 1 December.
        </li>
        <li>Staff posts a proposal in Proposal Format in #proposals.</li>
        <li>
          Staff accepts nominations from the community (including
          self-nominations) in #proposals-discussions. Nominees for the Community 
          Administrator role must be a member with the DM role.
        </li>
        <li>Nominations are accepted for at least 48 hours.</li>
        <li>
          Nominees agree to be nominated if they would like to run for the
          Community Administrator role.
        </li>
        <li>
          Discussion is held for 48 hours for members to express opinions and
          concerns. During this time, nominees may explain why they believe they
          are a good candidate for the role.
        </li>
        <li>
          An anonymous poll including all of the nominees is posted by staff and
          runs for 48 hours. Members with the MAP role may cast a vote for one
          nominee.
        </li>
        <li>
          Staff adds the Community Administrator role to the nominee with the
          most votes.
        </li>
      </ul>
    </section>

    <section>
      <h3
        id="45-addition-of-a-technical-administrator-or-financial-administrator"
      >
        4.5. Addition of a Technical Administrator or Financial Administrator
      </h3>
      <ul>
        <li>
          Staff agrees by 2/3 majority, including 2/3 of the Administrator Team,
          in #staff-polls that one additional Technical Administrator or
          Financial Administrator is needed.
        </li>
        <li>Staff posts a proposal in Proposal Format in #staff-polls.</li>
        <li>
          Staff accepts nominations from anyone with the DM role (including self-nominations) in #staff.
        </li>
        <li>Nominations are accepted for at least 48 hours.</li>
        <li>
          Nominees agree to be nominated if they would like to run for the
          Technical Administrator or Financial Administrator role.
        </li>
        <li>
          Discussion is held for 48 hours for members to express opinions and
          concerns. During this time, nominees may explain why they believe they
          are a good candidate for the role.
        </li>
        <li>
          An anonymous poll including all of the nominees is posted in
          #staff-polls and runs for 48 hours. Staff members may cast a vote for
          one nominee.
        </li>
        <li>
          An administrator adds the Technical Administrator or Financial
          Administrator role to the nominee with the most votes.
        </li>
      </ul>
    </section>

    <section>
      <h3
        id="46-removal-of-an-associate-moderator-moderator-or-community-administrator"
      >
        4.6. Removal of an Associate Moderator, Moderator, or Community
        Administrator
      </h3>
      <p>
        Any member with the MAP role may initiate the removal of an Associate
        Moderator, Moderator, or Community Administrator by following the
        Democratic Process. The Motivation in the proposal must clearly outline
        multiple verifiable Community Policy violations committed by the staff
        member in question as well as descriptions of multiple non-removal
        attempts to help improve the staff member’s conduct. Rather than 24-hour
        waiting periods, there will be 48-hour waiting periods.
      </p>
    </section>

    <section>
      <h3
        id="47-removal-of-a-technical-administrator-or-financial-administrator"
      >
        4.7. Removal of a Technical Administrator or Financial Administrator
      </h3>
      <ul>
        <li>
          A staff member posts a proposal in Proposal Format in #staff-polls.
        </li>
        <li>
          Discussion is held for 48 hours for members to express opinions and
          concerns.
        </li>
        <li>
          An anonymous poll in Poll Format is posted in #staff-polls and runs
          for 7 days.
        </li>
        <li>
          If the poll shows 2/3 majority, including 2/3 majority among the
          Administrator Team, then the proposal is implemented by a Technical
          Administrator.
        </li>
      </ul>
    </section>
  </section>

  <section>
    <h2 id="5-staff">5. Staff</h2>
    <p>
      Staff is comprised of the Administrator Team and Moderator Team. The
      Administrator Team is comprised of Technical Administrators, Financial
      Administrators, and Community Administrators. The Moderator Team is
      comprised of Moderators and Associate Moderators. The Administrator Team
      and Moderators have access to all private channels in OMC. Associate
      Moderators have access to all private channels except #private-server-log.
      All staff members are responsible for:
    </p>
    <ul>
      <li>Adhering to the Staff Policy.</li>
      <li>Assisting in other staff functions when possible or necessary.</li>
      <li>
        Deciding by 2/3 majority in poll whether an Associate Moderator should
        be given the Moderator role.
      </li>
    </ul>
    <section>
      <h3 id="51-technical-administrators">5.1. Technical Administrators</h3>
      <p>Technical Administrators are responsible for:</p>
      <ul>
        <li>
          Announcing Rocket.Chat updates and changes to the technical
          infrastructure in #announcements.
        </li>
        <li>
          Giving an Associate Moderator the Moderator role if there are no
          Moderators and no Associate Moderators who have been active for 3
          months.
        </li>
        <li>Maintaining OMC's technical infrastructure.</li>
        <li>
          Updating information about technical infrastructure in the Community
          Policy.
        </li>
      </ul>
    </section>

    <section>
      <h3 id="52-financial-administrators">5.2. Financial Administrators</h3>
      <p>Financial Administrators are responsible for:</p>
      <ul>
        <li>Announcing changes to financial information in #announcements.</li>
        <li>
          Paying for OMC's technical infrastructure and any other disbursements
          directed by the community.
        </li>
        <li>Providing monthly reports of aggregate income and expenses.</li>
        <li>Updating information about finances in the Community Policy.</li>
      </ul>
    </section>

    <section>
      <h3 id="53-community-administrators">5.3. Community Administrators</h3>
      <p>Community Administrators are responsible for:</p>
      <ul>
        <li>Announcing changes to the Community Policy in #announcements.</li>
        <li>
          Appointing intrastaff roles to existing staff members who agree to
          take on that role.
        </li>
        <li>
          Representing OMC in public communications and communications with
          professional partners.
        </li>
        <li>Updating the Community Policy as directed by the community.</li>
      </ul>
    </section>

    <section>
      <h3 id="54-moderators">5.4. Moderators</h3>
      <p>Moderators are responsible for:</p>
      <ul>
        <li>
          Ensuring that the community guidelines are upheld in the community.
        </li>
        <li>
          Guiding conversation into appropriate channels and away from
          inappropriate topics.
        </li>
        <li>
          Protecting the community from trolls, anti-MAPs, and others who seek
          to harm it.
        </li>
        <li>
          Welcoming new members and answering questions about the community.
        </li>
      </ul>
    </section>

    <section>
      <h3 id="55-associate-moderators">5.5. Associate Moderators</h3>
      <p>
        Associate Moderators are Moderators in training. They have the same
        responsibilities as Moderators with more limited permissions. If an
        Associate Moderator is unable to fulfil a responsibility because of
        their limited permissions, then they are responsible for notifying a
        Moderator. Associate Moderators are elected by the community through the
        Democratic Process. After 3 months of active service as an Associate
        Moderator, staff decides by 2/3 majority in poll whether to give an
        Associate Moderator the Moderator role.
      </p>
    </section>

    <section>
      <h3 id="56-helpers">5.6. Helpers</h3>
      <p>
        Helpers are volunteer local moderators in The Courtyard and the onboarding 
        channels. Anyone with the MAP or Non-MAP role may volunteer to be a Helper 
        and will be given the Helper role and the associated local permissions role 
        if they receive 2/3 of staff’s vote in favour. 
      </p>
      <p>
        Helpers are responsible for monitoring these channels for any rule-violating 
        content and for welcoming and onboarding new members. Helpers are responsible 
        for posting in #staff-moderation in the event of rule violations. If serious 
        rule-violating behaviour occurs, and global Moderator action is needed, Helpers 
        are responsible for notifying an Associate Moderator or a Moderator. 
      </p>
    </section>

    <section>
      <h3 id="57-intrastaff-roles">5.7. Intrastaff Roles</h3>
      <p>Intrastaff roles have not yet been established.</p>
    </section>
  </section>

  <section>
    <h2 id="6-law-enforcement">6. Law Enforcement</h2>
    <p>
      Law enforcement representatives may contact OMC at
      <a href="mailto:map.community@protonmail.ch"
        >map.community@protonmail.ch</a
      >.
    </p>
  </section>
</article>
